streamlit
scikit-learn
joblib
pandas
numpy
langdetect
deep_translator
indic_transliteration
re
spacy
TfidfVectorizer
LogisticRegression
RandomForestClassifier
StackingClassifier
DecisionTreeClassifier
NeighborsClassifier
SVC
MultinomialNB
classification_report
Pipeline
FunctionTransformer
base64
