streamlit
scikit-learn
numpy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
spacy
langdetect==1.0.9
indic-transliteration==2.3.41
deep-translator==1.11.4



